[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
python-socketio = "*"
influxdb = "*"
paho-mqtt = "*"
requests = "*"
jsonschema = "*"
Flask = "*"
Flask-Cors = "*"
iPOPO = "*"

[dev-packages]
flake8 = "*"
pep8-naming = "*"
sphinx = "*"
socketio-client = "*"

[requires]
python_version = "3.10"
