<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>I1820-UI</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="index.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>I1820 <small>is your IoT Middleware Solution</small></h1>
        </div>
        <div id="app">
            <div>
                <h3>Raspberry Pi</h3>
                <button type="button" class="btn btn-primary" v-on:click="refresh"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                <div class="list-group">
                    <div v-for="(value, key) in rpis" class="list-group-item" href="#">
                        <h4 class="list-group-item-heading">{{ key }} - {{ value.ip }} <small><time class="timeago" v-bind:datetime="value.time"></time></small></h4>
                        <div class="list-group-item-text">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>ID</td>
                                        <td>Type</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(thing, index) in value.things">
                                        <td>{{ index }}</td>
                                        <td>{{ thing.id }}</td>
                                        <td>{{ thing.type }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>RealTime Log <small><span v-bind:class="'label label-' + connection.state">{{ connection.message }}</span></small></h3>
                <table v-if="checkData()" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, key) in states">
                            <td>{{ key | capitalize }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    </tbody>
                </table>
                <div v-else class="panel panel-default">
                    <div class="panel-body text-center">No Sensor data currently</div>
                </div>
            </div>
            <div>
                <h3>Actuators</h3>
                <div class="form-group">
                    <select class="form-control">
			<option v-for="(key, value, index) in rpis" value="{{ key }}">RPi #{{ index }}</option>
		</select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control text-center">
                </div>
                <button type="button" class="btn btn-primary" v-on:click="turn(true)">Turn on the <i class="fa fa-lightbulb-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger" v-on:click="turn(false)">Turn off the <i class="fa fa-lightbulb-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.timeago.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="index.js"></script>
</body>

</html>
