<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>I1820-UI</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="index.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>I1820 <small>is your IoT Middleware Solution</small></h1>
        </div>
        <div id="app">
            <div>
                <h3>Raspberry Pi</h3>
                <button type="button" class="btn btn-primary" v-on:click="refresh"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                <div class="list-group">
                    <div v-for="(value, key) in rpis" class="list-group-item" href="#">
                        <h4 class="list-group-item-heading">{{ key }} - {{ value.ip }} <small><time class="timeago" v-bind:datetime="value.time"></time></small></h4>
                        <div class="list-group-item-text">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>ID</td>
                                        <td>Type</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(thing, index) in value.things">
                                        <td>{{ index }}</td>
                                        <td>{{ thing.id }}</td>
                                        <td>{{ thing.type }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
		<div class="form-group">
                    <select v-model="endpoint" class="form-control">
			<option v-for="(value, key, index) in rpis" v-bind:value="key">RPi #{{ index }}</option>
		     </select>
                </div>
            </div>
            <div>
                <h3>Sensing</h3>
		<template v-for="thing in things">
		<template v-if="thing.type == 'temperature'">
		<h4>Temperature <small>{{ thing.id }}</small></h4>
		<form class="form-inline">
		    <div class="form-group">
		        <label>Temperature</label>
			<p v-if="typeof states.temperature !== 'undefined'" class="form-control-static">{{states.temperature.value}} @ {{states.temperature.time}}</p>
		    </div>
                    <button type="button" class="btn btn-primary" v-on:click="fetch('temperature', ['temperature'], thing.id)"><i class="fa fa-refresh" aria-hidden="true"></i></button>
		</form>
		</template>
                </template>
            <div>
                <h3>Actuators</h3>
                <template v-for="thing in things">
		<template v-if="thing.type == 'lamp'">
		<h5>Lamp <small>{{ thing.id }}</small></h5>
                <button type="button" class="btn btn-primary" v-on:click="turn(true, thing.id)">Turn on the <i class="fa fa-lightbulb-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger" v-on:click="turn(false, thing.id)">Turn off the <i class="fa fa-lightbulb-o" aria-hidden="true"></i></button>
		</template>
                </template>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.timeago.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="index.js"></script>
</body>

</html>
