<h2>AoLab is our Lab !</h2>
<p>
AoLab ! AoLab is a collection of shakh persons who want to do some IoT shakh works.i
This group intend to create an Internet of Things Platform for Amirkabir University of Technology
and We are the middleware team of AoLab.
We created <strong>I1820</strong> as an IoT middleware platform and we used
it in our university platform successfully.
In I1820 we have created a system that can handle your things for you and create simple RESTful API for you to manage your things easily.
</p>
<p>
<a href="https://aolab.github.io/">AoLab</a>
<a href="https://aolab.github.io/I1820/">I1820</a>
</p>
<h2>Find ous on github</h2>
<ul>
  <li><a href="https://github.com/AoLab">@AoLab</a></li>
  <li><a href="https://github.com/1995parham">@1995parham</a></li>
</ul>
