<div class="jumbotron jumbotron-fluid bg-faded">
  <div class="container">
    <h1 class="display-3">I1820</h1>
      <p class="lead">is your IoT Platform Solution</p>
  </div>
</div>
<img src="images/i1820-logo.png" class="figure-img img-fluid rounded" />
<ol class="breadcrumb">
  <li class="breadcrumb-item">{{tenant.owner}}</li>
  <li class="breadcrumb-item">{{tenant.id}}</li>
</ol>
<blockquote class="blockquote-reverse">
  <p>Good Days, Good Things</p>
  <footer>Parham Alvani in <cite title="AoLab">AoLab</cite></footer>
</blockquote>
<i1820-discovery-panel></i1820-discovery-panel>
