<h2>Let's plug and play !</h2>
<h3>Filter</h3>
<form>
  <div class="form-group">
    <label for="chain">Chain</label>
    <input type="text" class="form-control" id="chain" placeholder="Chain">
  </div>
  <div class="form-group">
    <label for="plugin-type">Plugin Type</label>
    <input class="form-control" id="plugin-type" value="filter" disabled>
  </div>
  <div class="form-group">
    <label for="agent-id">Agent ID</label>
    <input type="text" class="form-control" id="agent-id" placeholder="Agent ID">
  </div>
  <div class="form-group">
    <label for="device-id">Device ID</label>
    <input type="text" class="form-control" id="device-id" placeholder="Device ID">
  </div>
  <div class="form-group">
    <label for="device-type">Device Type</label>
    <input type="text" class="form-control" id="device-type" placeholder="Device Type">
  </div>
</form>
<h3>Notifier</h3>
<form>
  <div class="form-group">
    <label for="chain">Chain</label>
    <input type="text" class="form-control" id="chain" placeholder="Chain">
  </div>
  <div class="form-group">
    <label for="plugin-type">Plugin Type</label>
    <input class="form-control" id="plugin-type" value="notifier" disabled>
  </div>
  <div class="form-group">
    <label for="agent-id">Agent ID</label>
    <input type="text" class="form-control" id="agent-id" placeholder="Agent ID">
  </div>
  <div class="form-group">
    <label for="device-id">Device ID</label>
    <input type="text" class="form-control" id="device-id" placeholder="Device ID">
  </div>
  <div class="form-group">
    <label for="device-type">Device Type</label>
    <input type="text" class="form-control" id="device-type" placeholder="Device Type">
  </div>
</form>
<h3>Chains</h3>
<div ng-repeat="(chain_id, chain) in plugins">
  <h4>{{chain_id}}</h4>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>UUID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="plugin in chain track by $index">
        <td>{{$index}}</td>
        <td>{{plugin.name}}</td>
        <td>{{plugin.id}}</td>
      </tr>
    </tbody>
  </table>
</div>
