<div class="d-flex flex-row justify-content-start">
  <div class="p-2">
    <h2>Agents</h2>
  </div>
  <div class="p-2 ml-auto">
  <button type="button" class="btn btn-success" ng-click="refresh()">Refresh</button>
  </div>
</div>
<div class="card-deck">
  <div class="card mb-3 text-center" ng-repeat="(uuid, agent) in agents">
    <div class="card-header">
      {{uuid}}
    </div>
    <div class="card-block">
      <h4 class="card-title">Things</h4>
      <div class="card-text">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="thing in agent.things track by $index">
              <th scope="row">{{$index + 1}}</th>
              <td class="text-justify">{{thing.id}}</td>
              <td class="text-justify">{{thing.type}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a ng-click="toAgent(uuid)" class="btn btn-secondary">To Agent</a>
    </div>
    <div class="card-footer text-muted">
      {{agent.time | timeAgo}}
    </div>
  </div>
</div>
