<div class="card p-3">
  <div class="card-header">
    {{type}} @ {{thingId}}
    <button ng-if="states.length" type="button" class="btn btn-success btn-xs" ng-click="refresh()">Refresh</button>
  </div>

  <!-- Statistics -->
  <div class="card-block">
    <h4 class="card-title" ng-if="statistics.length">Statistics</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li ng-repeat="statistic in statistics" class="list-group-item">
      {{statistic}}: {{values[statistic]['value']}} @ {{values[statistic]['time'] | date : 'medium'}}
    </li>
  </ul>

  <!-- Events -->
  <div class="card-block">
    <h4 class="card-title" ng-if="events.length">Events</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li ng-repeat="event in events" class="list-group-item">
      {{event}}: {{values[event]['value']}} @ {{values[event]['time'] | date : 'medium'}}
    </li>
  </ul>

  <!-- States -->
  <div class="card-block">
    <h4 class="card-title" ng-if="states.length">Sensors</h4>
  </div>
  <ul class="list-group list-group-flush">
    <li ng-repeat="state in states" class="list-group-item">
      {{state}}: {{values[state]['value']}} @ {{values[state]['time'] | date : 'medium'}}
    </li>
  </ul>

  <!-- Actuators -->
  <div class="card-block">
    <h3 class="card-title" ng-if="settings.length">Actuators</h3>
  </div>
  <div class="list-group list-group-flush">
    <div ng-repeat="setting in settings" class="list-group-item flex-column">
      <h5>{{setting.name}}</h5>
      <div ng-if="setting.type == 'bool'">
        <button type="button" class="btn btn-success" ng-click="turn(setting.name, true)">True</button>
        <button type="button" class="btn btn-danger" ng-click="turn(setting.name, false)">False</button>
      </div>
      <div ng-if="setting.type == 'integer'">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="integerSettingValue" placeholder="Integer">
        </div>
        <button type="button" class="btn btn-default" ng-click="turn(setting.name, integerSettingValue)">Request</button>
      </div>
      <div ng-if="setting.type == 'string'">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="stringSettingValue" placeholder="String">
        </div>
        <button type="button" class="btn btn-default" ng-click="turn(setting.name, stringSettingValue)">Request</button>
      </div>
      <div ng-if="setting.type == 'color'">
        <div class="form-group">
          <input type="color" class="form-control" ng-model="colorSettingValue" value="#ff6600">
        </div>
        <button type="button" class="btn btn-default" ng-click="turn(setting.name, colorSettingValue)">Request</button>
      </div>
    </div>
  </div>
</div>
